<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<div class="row mt-5" *ngIf="estudiante">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">{{estudiante.usuario.tipo}}</div>
            <div class="card-body">
                <h5 class="card-title">{{estudiante.nombre}} {{estudiante.apellido}}</h5>
                <p class="card-text">{{estudiante.usuario.correo}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">cv</div>
</div>

<div class="row" *ngIf="empresa">
    <div class="col-md-6">datos</div>
    <div class="col-md-6">oferta_empresa</div>
</div>